// Specific CSS for your home-page
.homepage-carousel {
  position: relative;
  height: 75vh;
  overflow: 100%;
}
.carousel-inner {
  height: 75vh;
}

.homepage-info {
  position: absolute;
  left: 30px;
}

.homepage-info h2 {
  position: absolute;
  bottom: 105px;
  color: white;
  font-size: 20px;
  width: 290px;
}

.homepage-info p {
  position: absolute;
  bottom: 50px;
  // left: 10px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  width: 290px;
}
.title-hergi {
  width: 100vw;
  justify-content: center;
  position: absolute;
  color: white;
  top: 50px;
  text-align: center;
  h1 {
    font-size: 60px;
    font-weight: 300;
  }
}
.sign-in-up {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-homepage {
  font-size: 13px;
}
.flex-container {
  display: flex;
  text-align: center;
}

