.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 32px 0;
}

.profile-banner {
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7dc3b7;
  border-bottom: solid 1px #605855;
  position: relative;
}

.profile-body {
  padding: 30px 10px;
}

.goal-details {
  border: 1px solid #605855;
  .goal-info {
    margin-top: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.profile-note {
  height: 30px;
  width: 100%;
}

.parent-note {
  position: relative;
  .description-form {

  }
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  .dropdown-menu.show {
    left: -138px;
  }
}
