.profile-banner {
  min-height: 30vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  // border-bottom: solid 1px #605855;
  // box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  position: relative;
  margin-bottom: 5px;
  .dropdown-menu.show {
    transform: translate3d(-141px, 36px, 0px) !important;
  }
}

.user-profile-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;

  .profile-friends,
  .profile-followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p:first-of-type {
      font-size: 21px;
      font-weight: 900;
    }
  }
}

.profile-user {
  padding: 0 20px 20px 30px;
  width: 100%;

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px 0;
  }

  .parent-note {
    .profile-note {
      margin: 0;
    }
  }
}

.profile-avatar {
  height: 100px;
  width: 100px;
  .profile-img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.edit-img-overlay {
  height: 40px;
  width: 40px;
  background-color: lightgray;
  border-radius: 50%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -38px;
  left: 60px;
}

.edit-img-btn {
  position: relative;
  color: gray;
  font-size: 1.7em;
  opacity: 0.85;
}

.card-product {
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
}


.profile-note {
  height: auto;
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.profile-progression-achievements {
  display: inline-flex;
  width: 100%;
}

.goal-info.category {
display: flex;
justify-content: space-between;
  .private-goal { 
    font-size: 20px;
  }
}

.goal-user-details {
  border: 1px solid #605855;
  padding: 10px;
  margin-bottom: 5px;;
  // box-shadow: 1px 1px 5px lightgray;
  .goal-info {
    margin-top: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.btn.dropdown-toggle {
  color: gray;
}

.dropdown-toggle::after {
  display: none;
}

.friends-followers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 8px 30px 0px 30px;
}

.profile-btn {
  margin-top: 10px;
}

.profile-drop {
  display: flex;
}

.profile-edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
