.profile-banner {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: solid 1px #605855;
  position: relative;
  .dropdown-menu.show {
    transform: translate3d(-141px, 36px, 0px) !important;
  }
}

.profile-avatar {
  height: 80%;
  width: 100%;
  margin-bottom: 20px;
  #profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.goal-details {
  border: 1px solid #605855;
  .goal-info {
    margin-top: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.profile-note {
  height: 30px;
  width: 100%;
}

.parent-note {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  .dropdown-menu {
  }
}

.profile-progression-achievements {
  display: inline-flex;
  width: 100%;
}
