<div class="container mt-5">
    <h2>Hergi</h2>
      <%= link_to "sign up", new_user_registration_path%>
      <br><br><p>Already have an account?</p>
      <%= link_to "Log in", user_session_path%>
  </div>
</div>





