<ul>
  <li>
    <% @posts.each do |post| %>
      <p><%= post.title %></p>
      <p><%= post.description %></p>
      <p><%= post.date %></p>
      <p><%= post.user_id %></p>
    <% end %>
  </li>
</ul>
