.alert {
  // position: fixed;
  // bottom: 16px;
  // right: 16px;
  // z-index: 1000;
    position: fixed;
    top: 26px;
    right: 8px;
    z-index: 1000;
}

.alert-info {
	background-color: rgba(255, 244, 222, 0.8392156862745098);
}
