.card-product {
  overflow: hidden;
  background-color: white;
  height: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  .user-avatar {
    display: inline;
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }

 #dropdownMenuButtonDashboard {
    background-color: transparent;
    color: lightgray;
    border: none;
}

}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  line-height: 1.4;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  height: 100%;
  padding: 9px;
}


#activity-feed {
  border-radius: 30px;
  border-style: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  min-height: 430px;
  position: absolute;
  width: 100%;
  margin-bottom: 45px;
}

.icon-formatting {
  width: 120px;
  text-align: center;

  i {
    font-size: 3em;
  }
}

.avatar-name-wrapper {
  display: flex;
  flex-direction: row;
}


