.card-product {
  overflow: hidden;
  background-color: white;
  height: 120px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  .user-avatar {
    display: inline;
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }

 #dropdownMenuButtonDashboard {
    background-color: transparent;
    color: white;
    border: none;
}

}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  height: 100%;
  padding: 9px;
}


#activity-feed {
  border-radius: 30px;
  border-style: none;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.icon-formatting {
  width: 120px;
  text-align: center;

  i {
    font-size: 4em;
  }
}

.avatar-name-wrapper {
  display: flex;
  flex-direction: row;
}


