.profile-banner .nav-link {
  border: none !important;
  background-color: transparent !important;
  margin: 0 3rem 3px 3rem;
  padding: 3px 0;
  border-bottom: 3px solid white !important;
  &.active {
    border-color: orange !important;
  }
}

.profile-banner .nav-item {
    border: none !important
}

.profile-banner .nav-tabs {
  border: none !important;
}


