.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: #333;
  bottom: 0;
  width: 100%;
  padding: 0px;
  z-index: 100;
  // box-shadow: 0 0 25px rgba(0, 0, 0, 0.38);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: none!important;
  font-size: 12px;
}

.dropup {
  float: left;
}

.dropup .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropup:hover .dropbtn {
  background-color: none;
}

// .dropup-content {
//   display: none;
//   position: absolute;
//   background-color: #fff;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 50 !important;
//   bottom: 50px;
// }

// .dropup-content a {
//   float: none;
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   text-align: left;
// }

// .dropup-content a:hover {
//   background-color: #ddd;
// }

// .dropup:hover .dropup-content {
//   display: block;
// }

// #dropdownMenuButton {
//   background-color: transparent;
//   color: lightgray;
//   border: none;
//   &.active {
//     color: cyan;
//   }
// }

// .menu-dropdown {
//   position: absolute;
//   top: -240px;
//   visibility: hidden;
//   pointer-events: none;
  
//   .menu-items {
//     a {
//       display: flex;
//       padding: 8px;
//       margin-bottom: 12px;
//       background-color: white;
//       color: black;
//       border-radius: 16px;
//       box-shadow: 1px 0 8px rgba(0,0,0,0.6);
//       opacity: 1;
//       transition: all 0.3s ease-in-out;
//     }

//     a.move-left {
//       visibility: hidden;
//       opacity: 0;
//       transform: translateX(-20px);
//     }
//   }
// }

// .menu-dropdown.dropdown-active {
//   visibility: inherit;
//   pointer-events: inherit;
// }

.menu-transition-item {
  background: #333;
  position: absolute;
  z-index: -10;
  left: 30px;
  bottom: -60px;
  opacity: 0;
  transition: 1s;
  float: none;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 5px 10px !important;
  text-decoration: none;
  border-right: none!important;
  width: 150px;
  color: gray;
  font-size: 18px;
  border-radius: 15px;
  box-shadow: 2px 2px 8px gray;
}

.item0-active {
  opacity: 1;
  bottom: 69px;
}

.item1-active {
  opacity: 1;
  bottom: 108px;
}

.item2-active {
  opacity: 1;
  bottom: 147px;
}

.item3-active {
  opacity: 1;
  bottom: 187px;
}

.dropup-active {
  opacity: 0.4;
}
