#goal-form {

  .radio_buttons {

    i {
      font-size: 1.5em;
    }


    input[type="radio"] {
      display: none;

    }

  label {
    border: 1px solid #DDD;
    border-radius:50px;
    padding:10px;
    margin-top:10px;
    display:block;
    position:relative;
    text-align: center;
  }

  label:hover {
    cursor:pointer;
    background-color:#EEE;
  }

  input[type="radio"]:checked + label {
    background-color:#DDD;
  }

  .form-check {
    padding-left: 0px;
    width: 80px;
    margin: 10px;
  }

  }
}

.d-flex {
  justify-content: center;
}

h2 {
  text-align: center;
}

.styling {
  padding: 10px;
}
