.welcome-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;

  h5 {
    margin-bottom: 0px;
  }
}

.post-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-bottom: 5px;

  .post-info-general {
    position: relative;
    display: flex;
    align-items: center;
    height: 88px;
    margin-top: 10px;
    margin-bottom: 10px;

    p {
      font-size: 15px;
      margin-bottom: 0px;
      color: black;
      max-width: 220px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .user-avatar {
      object-fit: cover;
      width: 52px;
      height: 50px;
      border-radius: 50%;
      display: block;
      margin-left: 16px;
      border: 1px solid black;
      @media only screen and (max-width: 576px) {
        margin-left: 20px;
      }
    }

    .user-details {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }

    .dropdown {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
    }

    .dropdown-menu.show {
      transform: translate3d(-50px, 38px, 0px) !important;
      min-width: 100px !important;
      padding: 12px;
      .fas:before {
        color: black;
      }
    }

    .btn {
      color: grey;
    }
    .dropdown-toggle::after {
      border: none;
    }

  }

 .post-image {
  height: 214px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   }
 }

}

.comment-teaser {
  background-color: white;
  padding: 5px 15px 5px;
}



a {
  color: black;
}

 p {
  font-size: 15px;
  margin-bottom: 0px;
  color: black;
  }

.show-page-card {
  position: relative;
  height: auto;
  .post-info-general {
    max-height: 66px !important;
  }

  .dropdown {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
    }

    .dropdown-menu.show {
      transform: translate3d(-50px, 38px, 0px) !important;
      min-width: 100px !important;
      padding: 12px;
      .fas:before {
        color: black;
      }
    }

    .btn {
      color: grey;
    }
    .dropdown-toggle::after {
      border: none;
    }
 .post-content {
  margin-top: 10px;
  margin-left: 10px;
  hr {
    margin: 2px;
  }
 }

}

.feed-link {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;

  h6 {
    margin-bottom: 0px;
    a {
      color: darkgrey;
    }
  }
}

.comments {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

#create-comment {
  i {
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}


