
<fieldset class="form-group radio_buttons required goal_category_type">
  <legend class="col-form-label pt-0">What did you accomplish?
  <abbr title="required">*
</abbr>
</legend>
<input type="hidden" name="goal[category_type]" value="">
<div class="d-flex">
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="
  <i class='fas fa-utensils'>
  </i> Dining" name="goal[category_type]" id="goal_category_type_i_classfas_fa-utensilsi_dining">
  <label class="form-check-label collection_radio_buttons" for="goal_category_type_i_classfas_fa-utensilsi_dining">
    <i class="fas fa-utensils">
  </i> Dining
  </label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="
  <i class='fas fa-music'>
  </i> Social" name="goal[category_type]" id="goal_category_type_i_classfas_fa-musici_social">
  <label class="form-check-label collection_radio_buttons" for="goal_category_type_i_classfas_fa-musici_social">
    <i class="fas fa-music">
  </i> Social
  </label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="
  <i class='fas fa-mountain'>
  </i> Nature" name="goal[category_type]" id="goal_category_type_i_classfas_fa-mountaini_nature">
  <label class="form-check-label collection_radio_buttons" for="goal_category_type_i_classfas_fa-mountaini_nature">
    <i class="fas fa-mountain">
  </i> Nature
  </label>
  </div>
  <div class="form-check">
    <input class="form-check-input radio_buttons required" type="radio" value="
  <i class='fas fa-user-graduate'>
  </i> Skill" name="goal[category_type]" id="goal_category_type_i_classfas_fa-user-graduatei_skill">
  <label class="form-check-label collection_radio_buttons" for="goal_category_type_i_classfas_fa-user-graduatei_skill">
    <i class="fas fa-user-graduate" >
  </i><br>Skill
  </label>
</div>
</fieldset>

