// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/action";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/posts_card";
@import "components/goals_card";
@import "users/update";

.active {
  color: orange !important;
  border-right: 1px solid black !important;
}

.container {
  padding: 2px;
}
