.form-actions {
  margin-top: 15px;
  margin-bottom: 15px;
  }

.form-actions p {
  color: #6c757c;
  font-size: 13px;
}

.forgot {
  font-size: 13px;
}

.already {
  display: flex;
  align-items: center;
  justify-content: center;
}
